:root {
    --darkGray: #607087;
    --midGray: #CED1D6;
    --lightGray: #E6E9EF;
    --black: #050424;
    --blue: #0028B8;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
    color: var(--black);
}


/* the structure and the grid */
body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header_content{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    
    height: 92px;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 64px;
    height: 100%;
    gap: 64px;
}

.dashboard {
    width: 100%;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 230px);
    gap: 32px;
}

#bestProduct {
    grid-area: 1 / 1 / 4 / 2;
}

#salesMonth {
    grid-area: 1 / 2 / 2 / 4;
}

#usersMonth {
    grid-area: 1 / 4 / 2 / 6;
}

#salesYear {
    grid-area: 2 / 2 / 3 / 6;
}

#country {
    grid-area: 3 / 2 / 4 / 4;
}

.sidepanel {
    width: 320px;
}

.newsCard {
    display: flex;
    flex-direction: column;
    height: 290px;
}

.news { 
    height: 100%;
}

.learnCards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



/* the other stuff */


#logo {
    width: 32px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.menu {
    border-right: 1px solid var(--midGray);
}

.menuItem {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #E7F5FF;
    border-right: 4px solid #0028B8;
}

.menuItem img {
    width: 24px;
}

.header {
    display: flex;
    min-height: 92px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    align-items: center;
    border-bottom: 1px solid var(--midGray);
}

.search {
    width: 320px;
    height: 44px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0px 16px;
    align-items: center;
    color: var(--darkGray);
    border-radius: 64px;
}

.side {
    display: flex;
    gap: 16px;
    align-items: center;
}

.element {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGray);
    border-radius: 64px;
}

h2 {
    padding-bottom: 16px;
}

.card {
    border-radius: 16px;
    padding: 24px 16px;
    border: 1px solid var(--midGray);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.purple {
    border: 1px solid #DDC4F7;
    background-color: #F9F5FD;
}

.blue {
    border: 1px solid #C1C6EE;
    background-color: #F9F5FD;
}

.green {
    border: 1px solid #C1EEC8;
    background-color: #F5FDF9;
}

.cardtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small {
    flex-direction: column;
}

.number {
    font-size: 32px;
    font-weight: 700;
}

.bigchart {
    justify-content: space-between;
}

.smallCard {
    justify-content: space-between;
}

.bigchart img{
    margin-bottom: -28px;
margin-right: -18px;
margin-left: -18px;
}

.numberblue{
    color: #4E37BA;
}

.numbergreen {
    color: #427A0A;
}

.smallCard img {
    margin-bottom: -28px;
    margin-right: -18px;
    margin-left: -18px
}

.productNumber {
    font-weight: 800;
}

.time {
    font-weight: 300;
    color: var(--darkGray);
}

#productTitle {
    height: 100%;
    justify-content: flex-start;
}

#bestProduct {
    gap: 48px;
    padding-bottom: 48px;
}

.bar {
    height: 24px;
    background-color: #9037BA;
    border-radius: 0px 12px 12px 0px;
    margin-left: -25px;
}

#alpha {
    width: 100%;
}

#omega {
    width: 70%;
}

#delta {
    width: 40%;
}

#other {
    width: 60%;
    background-color: #D8CFDD;
}

.cardhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grey {
    color: var(--darkGray);
}

#change {
    color: #8BC94C;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--midGray);
    margin: 4px 0px;
}

#barChart {
    width: 100%;
    max-height: 120px;
}


 /* way to mcuh and very dirty css this tells a story of miss planned process lol */

 #country {
    flex-direction: column;
 }

.doughnutcardcontent {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: end;
}

#doughnut {
    width: 100px;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

li {
    list-style-type: none;
}

.france {
    color: #376BBA;
}
.france b {
    color: #376BBA;
}

.sweden {
    color: #C39E12;
}

.sweden b {
    color: #C39E12;
}

.germany {
    color: #9037BA;
}

.germany b {
    color: #9037BA;
}

.newsCard {
    padding: 24px;
    display: flex;
    justify-content: space-around;

    margin-bottom: 32px;
    border-radius: 16px;
    padding: 24px 16px;
    border: 1px solid var(--midGray);

}

.news {
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100%;
}

.news p {
  
  color: var(--darkGray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.learnCard {
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
    border-radius: 16px;
    padding: 24px 16px;
    border: 1px solid var(--midGray);
    
}

.learnCard p {
    color: var(--darkGray);
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}


.community {
   
    padding-left: 90px;
    position: relative;
    overflow: hidden;
}

.community img {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 75px;
}

