@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter',Inter, helvetica, arial, system-ui;
}


h1 {
    color: red;
}