@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter',Inter, helvetica, arial, system-ui;
}

.header {
    background-color: #2A292E;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-group {
    width: 1024px;
    margin: 0 24px 0 24px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 16px;
}

.menu a {
    color: #DDE5E7;
    text-decoration: none;
}

h1 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 86px;
}

h2 {
    font-size: 48px;

}

p {
    font-size: 18px;
}

a {
    font-size: 18px;
}

.hero {
    height: 100vh;
    background-image: url(./Asset/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    
    align-items: center;

}

.hero-content {

}

.hero img {
    width: 80%;
    position: relative;
    left: -38%;
    bottom: -22%;
}